.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;

    .modal-content {
        position:relative;
        max-width: 90%;
        width: 1280px;
        background: white;
        padding: 24px;
        max-height: 90%;
        overflow: auto;

        button.close {
            position: absolute;
            top: 5px;
            right: 5px;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 48px;
            color: var(--primary);
        }
    }
}
