pre {
	overflow-x: scroll;
	font-size: 10px;
}

dialog {
	position: relative;
	width: 80vw;
	height: 80vh;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;

	form {
		margin-top: auto;
	}
}

.session-selected-suites {
	display: inline-block;
}

.test-file {
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		color: var(--primary);
	}
}