.runs-list {
    margin-bottom: 20px;

    .more-runs-list {
        background-color: #f9f9f9;
    }

    .icon {
        width: 22px;
        height: 22px;
    }

}


@media print {
    .runs-list {
        tr {
            td, th {
                &:first-child {
                    display: none;
                }
            }
        }
    }
    .list-runs-actions {
        display: none;
    }
}
