---
const { title } = Astro.props;
import Layout from '../../../../layouts/Layout.astro';
import PortalSection from '../../../../components/PortalSection.astro';
import TestRunList from '../../../../components/TestRunList.astro';

export async function getStaticPaths() {
  const tests = [
    { slug: '1', id: 1, title: "Test 1"},
    { slug: '2', id: 2, title: "Test 2"},
    { slug: '3', id: 3, title: "Test 3"},
  ];

  return tests.map(( { slug, title }) => {
    return {
			params: { slug },
      props: { title }
    };
  });
}
---

<Layout title="Test Portal | Test">
	<PortalSection title={"Recent runs in this session for " + title} width="full">
    <br>
    <button>New run</button>
		<br>
		<br>
    <TestRunList />
  </PortalSection>
</Layout>

<style>
</style>
