---
import Layout from "../layouts/Layout.astro";
import PortalSection from "../components/PortalSection.astro";

---

<Layout title="Welcome to Astro.">
	<PortalSection title="Service status">
    <h3>Current status: <strong class="online">Online</strong></h3>
  </PortalSection>

	<PortalSection title="Recent activity">
        <ul>
			<li>2024-05-23 02:30:05 - <i>Status changed from <strong class="alert">Scheduled Maintenance</strong> to <strong class="online">Online</strong></i></li>
			<li>2024-05-23 02:00:00 - <i>Status changed from <strong class="online">Online</strong> to <strong class="alert">Scheduled Maintenance</strong></i></li>
			<li>2024-05-23 00:00:01 - <i>Status changed from <strong class="offline">Offline</strong> to <strong class="online">Online</strong></i></li>
		</ul>
  </PortalSection>
  
</Layout>

<style>
	.online {
		color: rgb(21, 193, 21);
	}
	.offline {
		color: red;
	}
	.alert {
		color: orange;
	}

	ul {
		list-style: none;
		padding: 0;
	}
</style>
