---
const { tiles, heading, width } = Astro.props;

---

{ heading ? <h2>{heading}</h2> : '' }
<div class={"tiles " + width}>
	{
		tiles.map((tile) => (
			<a href={tile.link} class="tiles__item">
				<strong>{tile.title}</strong>
				{tile.description ? <p>{tile.description}</p> : ''}
			</a>
		))
	}
</div>

<style>
	.tiles {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		background-color: white;
		padding: 20px 0;

		& .tiles__item {
			padding: 1rem;
			min-height: 150px;
			transition: 0.5s ease;
			text-decoration: none;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			background-color: rgba(95, 158, 160, 0.1);

			&:first-child {
				grid-column: span 3;
				background-color: rgba(95, 158, 160, 0.75);
				color: white;
				
				& p {
					color: white;
				}
			}

			& p {
				font-size: 1rem;
				color: black;
				transition: 0.5s ease;
				margin-top: 0;
			}

			& strong {
				font-size: 2rem;
				margin-bottom: 0;
			}

			&:hover {
				background-color: var(--primary);
				color: white;

				& p {
					color: white;
				}
			}
		}

		&.full {
			grid-column: span 2;
		}
	}

	@media (max-width: 768px) {

		.section.full {
			grid-column: span 1;
		}

		.tiles {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>