.list-interactive {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .test,
    .title {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .list {
        transition: 0.3s ease;
    }

    .title {
        padding-right: 15px;
        transition: 0.5s ease;
    }

    .test {
        margin-bottom: 2px;
    }

    .list-repository {
        padding-left: 0;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        overflow: hidden;

        .list {
            padding-left: 30px;
            position: relative;

            &:nth-child(2n + 1):before {
                content: '';
                position: absolute;
                top: 0;
                margin-left: 50%;
                left: -50vw;
                height: 100%;
                width: 100vw;
                pointer-events: none;
                background-color: rgba(95, 158, 160, 0.051);
            }
        }

        > .list {
            padding-left: 45px;
        }

        > .title {
            padding: 15px;
        }

        &.expanded {
            box-shadow: 0px 0px 10px 5px rgba(95, 158, 160, 0.2);

            > .title {
                background-color: cadetblue;
                color: white;
                margin-bottom: 10px;

                .expand {
                    color: white;
                }

                .checkmark {
                    border: 2px solid white !important;
                }
            }
        }
    }

    .expand {
        text-decoration: none;
        color: black;

        &:after {
            opacity: 0;
            margin-left: 10px;
            content: '▼';
            transition: 0.3s ease;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    .list:not(.list-repository) {
        overflow: hidden;
        margin: 0 auto;
        display: none;

        &.expanded {
            overflow: visible;
            margin-bottom: 10px;
            padding-top: 10px;
        }
    }

    .list.expanded {
        padding-bottom: 10px;

        > .title {
            .expand:after {
                content: '▲';
            }
        }
    }

    .list-suite.expanded {
        .list-test {
            padding-top: 10px;
        }
    }
}
