@import 'components/layout.css';
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/portal-section.css';
@import 'components/error-list.css';
@import 'components/sessions/index.css';
@import 'components/tests/index.css';

.online {
    color: rgb(21, 193, 21);
}
.offline {
    color: red;
}
.alert {
    color: orange;
}

ul {
    list-style: none;
    padding: 0;
}
