.sessions {
    .filter {
        width: 100%;
        display: flex;
        gap: 10px;
        margin: 1rem 0;

        .search {
            width: 30%;
            position: relative;

            & input {
                width: 100%;
            }

            img {
                width: 20px;
                position: absolute;
                right: 0.5rem;
                top: 8px;
                cursor: pointer;
            }
        }

        .date {
            width: 15%;
        }

        .issuer {
            width: 20%;
        }

        a {
            display: flex;
            margin-left: auto;
            padding: 0 2.5rem 0 1rem;

            &:after {
                content: '+';
                margin: 0 1rem;
            }
        }
    }
}
