---
const { title, id } = Astro.props;
import Layout from '../../layouts/Layout.astro';
import PortalSection from '../../components/PortalSection.astro';
import TestList, { freshTests } from '../../components/TestList.astro';
import TestSuiteList from '../../components/TestSuiteList.astro';

export async function getStaticPaths() {
  const sessions = [
    { slug: '1', id: 1, title: "Session 1"},
    { slug: '2', id: 2, title: "Session 2"},
    { slug: '3', id: 3, title: "Session 3"}
  ];

  return sessions.map(( { slug, id, title }) => {
    return {
			params: { slug },
      props: { title, id }
    };
  });
}
---

<Layout title="Test Portal | Session 1">
  <h1>Session 1</h1>

  <PortalSection title="Test suites" width="full">
    <TestSuiteList selector="suite" select={true} tests={freshTests} fresh={true}/>
  </PortalSection>

  <a href="/sessions/2" class="button">Run selected tests</a>
  <a href="/sessions/2" class="button align-right">Run all tests</a>
</Layout>

<style>
</style>

