---
const { title, id } = Astro.props;
import Layout from '../../layouts/Layout.astro';
import PortalSection from '../../components/PortalSection.astro';
import TestList from '../../components/TestList.astro';
import TestSuiteList from '../../components/TestSuiteList.astro';
import RunList from '../../components/RunList.astro';

export async function getStaticPaths() {
  const sessions = [
    { slug: '1', id: 1, title: "SuperValu Loyalty v3.6"},
    { slug: '2', id: 2, title: "Security updates 06"},
    { slug: '3', id: 3, title: "Security updated 05"}
  ];

  return sessions.map(( { slug, id, title }) => {
    return {
			params: { slug },
      props: { title, id }
    };
  });
}
---

<Layout title={"Test Portal | " + title}>
  <h1>{title}</h1>

  <PortalSection title="Recent runs" width="full">
    <RunList />
  </PortalSection>

  <PortalSection title="Test suites" width="full">
    <TestSuiteList selector="suite" select={true} link="/sessions/1/test/"/>
  </PortalSection>

  <a href="#" class="button">Run selected tests</a>
  <a href="#" class="button align-right">Run all tests</a>
</Layout>

<style>
  .information {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 10px;

    & button {
      margin-left: auto;
    }
  }

  input {
    min-width: 40%;
  }

  select {
    min-width: 15%;
  }
</style>

