---
import Layout from '../../layouts/Layout.astro';
import PortalSection from '../../components/PortalSection.astro';
import TestSuiteList from '../../components/TestSuiteSelectList.astro';
import TestList from '../../components/TestList.astro';
---

<Layout title="Test Portal | New Session">
	<PortalSection title="Create new session" width="full">
		<div class="information">
			<input type="text" id="sessionName" name="sessionName" required placeholder="Session name">
		</div>
  </PortalSection>

	<PortalSection title="Test suites" width="full">
		<TestSuiteList select={true} selector="suites" />
  </PortalSection>
	<a class="button" href="/sessions/1">Create</a>
</Layout>

<style>
	.information {
		margin-top: 1rem;
		width: 100%;
		display: flex;
		gap: 10px;

		& button {
			margin-left: auto;
		}
	}

	input {
		min-width: 40%;
	}

	select {
		min-width: 15%;
	}

	table {

		& th, td {
			&:first-of-type {
				width: 20px;
			}
		}
	}

	.expand {
		cursor: pointer;
		color: var(--primary);
		text-decoration: underline;
	}
</style>
